::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.scrollbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 15px;
    height: 0;
    opacity: 0;
    background: linear-gradient(to top, #241e1b, #64564c);
}
.clickScrollbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 15px;
    height: 100%;
}